<h1>Player one: <%= @game.player_01.name %> vs Player two: <%= @game.player_02.name %></h1>

<%= @game.player_01.name %>: <%= @game.player_01.hit_points %>HP
<%= @game.player_02.name %>: <%= @game.player_02.hit_points %>HP

<form action="/attack">
<button type="submit">Attack</button>
</form>